stages:
  - deps
  - build_push
  - scan
  # - deploy
  - smoke

variables:
  TAG: $CI_COMMIT_SHORT_SHA
  DOCKER_TLS_CERTDIR: ""

default:
  image: docker:27
  services:
    - docker:27-dind
  before_script:
    - docker info

# ------------------------
# Stage 1: Dependencies
# ------------------------
deps:
  stage: deps
  script:
    - docker --version
    - docker compose version
    - docker compose config

# ------------------------
# Stage 2 & 3: Build + Push
# ------------------------
build_push:
  stage: build_push
  script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

    # Vote
    - docker build -t $DOCKERHUB_USERNAME/vote:$TAG ./vote
    - docker tag $DOCKERHUB_USERNAME/vote:$TAG $DOCKERHUB_USERNAME/vote:latest
    - docker push $DOCKERHUB_USERNAME/vote:$TAG
    - docker push $DOCKERHUB_USERNAME/vote:latest

    # Result
    - docker build -t $DOCKERHUB_USERNAME/result:$TAG ./result
    - docker tag $DOCKERHUB_USERNAME/result:$TAG $DOCKERHUB_USERNAME/result:latest
    - docker push $DOCKERHUB_USERNAME/result:$TAG
    - docker push $DOCKERHUB_USERNAME/result:latest

    # Worker
    - docker build -t $DOCKERHUB_USERNAME/worker:$TAG ./worker
    - docker tag $DOCKERHUB_USERNAME/worker:$TAG $DOCKERHUB_USERNAME/worker:latest
    - docker push $DOCKERHUB_USERNAME/worker:$TAG
    - docker push $DOCKERHUB_USERNAME/worker:latest

# ------------------------
# Stage 4: Trivy Scan
# ------------------------
trivy_scan:
  stage: scan
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker pull $DOCKERHUB_USERNAME/vote:latest
    - docker run --rm aquasec/trivy image $DOCKERHUB_USERNAME/vote:latest
    - docker pull $DOCKERHUB_USERNAME/result:latest
    - docker run --rm aquasec/trivy image $DOCKERHUB_USERNAME/result:latest
    - docker pull $DOCKERHUB_USERNAME/worker:latest
    - docker run --rm aquasec/trivy image $DOCKERHUB_USERNAME/worker:latest
# ------------------------
# # Stage 5: Deploy (SSH)
# # ------------------------
# deploy:
#   stage: deploy
#   image: alpine:latest
#   before_script:
#   - apk add --no-cache openssh
#   - mkdir -p ~/.ssh
#   - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
#   - chmod 600 ~/.ssh/id_rsa
#   - ssh-keyscan -H "$DEPLOY_SERVERHOST" >> ~/.ssh/known_hosts
#   script:
#     - ssh $DEPLOY_USER@$DEPLOY_SERVERHOST "
#         docker pull $DOCKERHUB_USERNAME/vote:latest &&
#         docker pull $DOCKERHUB_USERNAME/result:latest &&
#         docker pull $DOCKERHUB_USERNAME/worker:latest &&
#         docker compose up -d
#       "

# ------------------------
# Stage 6: Smoke Test
# ------------------------
smoke_test:
  stage: smoke
  image: curlimages/curl
  script:
    - curl -f http://$DEPLOY_SERVERHOST:8080
    - curl -f http://$DEPLOY_SERVERHOST:8081
