image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHA
  DOCKER_HOST: tcp://docker:2375

stages:
  - deps
  - build
  - push
  - scan
  - deploy
  - smoke

before_script:
  - apk add --no-cache docker-compose openssh-client

deps:
  stage: deps
  script:
    - docker --version
    - docker-compose --version
    - docker-compose config -q
  only:
    - main

build:
  stage: build
  script:
    - docker-compose build
    - docker tag $DOCKERHUB_USERNAME/vote:latest 
    - docker tag $DOCKERHUB_USERNAME/result:latest 
    - docker tag $DOCKERHUB_USERNAME/worker:latest 
  only:
    - main

push:
  stage: push
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  
    - docker push $DOCKERHUB_USERNAME/vote:latest
    
    - docker push $DOCKERHUB_USERNAME/result:latest
    
    - docker push $DOCKERHUB_USERNAME/worker:latest
  only:
    - main
scan:
  stage: scan
  image: aquasec/trivy:latest
  allow_failure: true
  script:
    - trivy image --exit-code 0 --severity HIGH,CRITICAL $DOCKERHUB_USERNAME/vote:lastest
    - trivy image --exit-code 0 --severity HIGH,CRITICAL $DOCKERHUB_USERNAME/result:lastest
    - trivy image --exit-code 0 --severity HIGH,CRITICAL $DOCKERHUB_USERNAME/worker:lastest
  only:
    - main

deploy:
  stage: deploy
  image: alpine
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $DEPLOY_USER@$DEPLOY_HOST "
        docker login -u $DOCKERHUB_USERNAME -p $DOCKER_PASSWORD &&
        docker pull $DOCKERHUB_USERNAME/vote:latest &&
        docker pull $DOCKERHUB_USERNAME/result:latest &&
        docker pull $DOCKERHUB_USERNAME/worker:latest &&
        docker compose up -d
      "

smoke:
  stage: smoke
  image: curlimages/curl:latest
  script:
    - 'curl --fail http://$DEPLOY_HOST:8080 || (echo "Vote app not reachable" && exit 1)'
    - 'curl --fail http://$DEPLOY_HOST:8081 || (echo "Result app not reachable" && exit 1)'
  only:
    - main