image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_BUILDKIT: 1
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHA
  DOCKER_HOST: tcp://docker:2375


stages:
  - deps
  - build
  - push
  - scan
  - deploy
  - smoke

before_script:
  - apk add --no-cache docker-compose openssh-client

deps:
  tags:
    - deploy1
  stage: deps
  script:
    - docker --version
    - docker-compose --version
    - docker-compose config -q
  only:
    - main

build:
  tags:
    - deploy1
  stage: build
  script:
    - docker-compose build
    - docker tag $DOCKERHUB_USERNAME/vote:latest $DOCKERHUB_USERNAME/vote:$IMAGE_TAG
    - docker tag $DOCKERHUB_USERNAME/result:latest $DOCKERHUB_USERNAME/result:$IMAGE_TAG
    - docker tag $DOCKERHUB_USERNAME/worker:latest $DOCKERHUB_USERNAME/worker:$IMAGE_TAG
  only:
    - main

build_push:
  stage: push
  image: docker:latest
  services:
    - docker:dind
  tags:
    - deploy1
  script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

    # vote1
    - docker build -t $DOCKERHUB_USERNAME/vote:latest -t $DOCKERHUB_USERNAME/vote:$IMAGE_TAG ./vote
    - docker push $DOCKERHUB_USERNAME/vote:latest
    - docker push $DOCKERHUB_USERNAME/vote:$IMAGE_TAG

    # result
    - docker build -t $DOCKERHUB_USERNAME/result:latest -t $DOCKERHUB_USERNAME/result:$IMAGE_TAG ./result
    - docker push $DOCKERHUB_USERNAME/result:latest
    - docker push $DOCKERHUB_USERNAME/result:$IMAGE_TAG

    # worker
    - docker build -t $DOCKERHUB_USERNAME/worker:latest -t $DOCKERHUB_USERNAME/worker:$IMAGE_TAG ./worker
    - docker push $DOCKERHUB_USERNAME/worker:latest
    - docker push $DOCKERHUB_USERNAME/worker:$IMAGE_TAG

trivy_scan:
  stage: scan
  image: aquasec/trivy:latest
  services:
    - docker:dind
  tags:
    - deploy1
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    TRIVY_NO_PROGRESS: "true"
  script:
    - trivy image --severity HIGH,CRITICAL $DOCKERHUB_USERNAME/vote:latest
    - trivy image --severity HIGH,CRITICAL $DOCKERHUB_USERNAME/result:latest
    - trivy image --severity HIGH,CRITICAL $DOCKERHUB_USERNAME/worker:latest

deploy:
  tags:
    - deploy1
  stage: deploy
  image: alpine
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    # - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $DEPLOY_USER@$DEPLOY_HOST "
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD &&
        docker pull $DOCKER_USER/vote:latest &&
        docker pull $DOCKER_USER/result:latest &&
        docker pull $DOCKER_USER/worker:latest &&
        docker compose up -d
      "

smoke:
  tags:
    - deploy1
  stage: smoke
  image: curlimages/curl:latest
  script:
    - 'curl --fail http://$DEPLOY_HOST:8080 || (echo "Vote app not reachable" && exit 1)'
    - 'curl --fail http://$DEPLOY_HOST:8081 || (echo "Result app not reachable" && exit 1)'
  only:
    - main