services:
  vote:
    image: omarhossam886/vote:latest
    ports:
      - "8080:80"
    depends_on:
      - redis

  result:
    image: omarhossam886/result:latest
    ports:
      - "8082:80"
    depends_on:
      - db
  worker:
    image: omarhossam886/worker:latest
    depends_on:
      - redis
      - db

  redis:
    image: redis:alpine

  db:
    image: postgres:15